<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="name" value="赵帅" />
    <add key="userName" value="FC290C20-2E5F-4F1B-8C37-72C948F36C2B" />
    <add key="myWorkUrl" value="http://jnooe.com/Manage/WorkOrder/WorkOrder_My.aspx?State=3&amp;xuser={0}" />
    <add key="mySubmitUrl" value="http://jnooe.com/Manage/WorkOrder/WorkOrder_Add.aspx?xuser={0}" />
  </appSettings>
</configuration>