<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--系统设置-->
  <add key="MenuBar" value="~/App_Data/MenuBar.xml" />
  <add key="DefaultCompanyId" value="11" />
  <add key="ReturnValueWhenUpdateEmpty" value="1" />
  <add key="SqlDebug" value="0" />
  <add key="PriceScopes" value="50以下|50-100|100-200|200-400|400-600|600-800|800-1000|1000-1500|1500-3000|3000-5000|5000以上" />
  <add key="Banks" value="中国银行|工商银行|建设银行|农村银行|招商银行|交通银行|兴业银行|光大银行|民生银行|邮政储蓄|深发展银行|华夏银行" />
  <!--软件名称-->
  <add key="SoftName" value="我行OA办公自动化" />
  <add key="SuperPwd" value="Sdce8731" />
  <!--是否启用用户档案模板（0否，1是）-->
  <add key="Priv-IsTemp" value="0" />
  <!--用户档案模板结构（档案模板设置为0时此项可用）-->
  <add key="Priv-Edu" value="时间;200|学历{研究生,本科,大专,中专};100|专业;200|学校;300" />
  <add key="Priv-Skill" value="名称;200|详细;600" />
  <add key="Priv-Work" value="日期;200|职位;200|公司;400|工作时间;120" />
  <add key="Priv-Family" value="称呼{父亲,母亲,配偶,子女};100|姓名;120|联系地址;350|邮政编码;100|联系电话;150" />
  <add key="Priv-UrgentLink" value="称呼;100|姓名;120|联系地址;300|邮政编码;100|联系电话;120|移动电话;120" />
  <add key="Priv-Workwew" value="日期;200|职位;200|公司;400|工作时间;120" />
  <!--计划设置-->
  <add key="Plan-WeekFirst" value="1" />
  <!--每周第一天，0到6 代表 周日到周六-->
  <add key="Plan-WeekEnd" value="7" />
  <!--每周最后一天，0到6 代表 周日到周六-->
  <add key="Plan-DayPlanIfNotWorkDay" value="True" />
  <!--非工作日是否可以创建计划-->
  <!--日期设置-->
  <add key="Date-FirstWeekModeInYear" value="0" />
  <!--0从第一天开始,1从第一个全周开始,2从第一个有四天的周开始-->
  <add key="Date-WeekFirstDay" value="1" />
  <!--0-6相当于从星期天到星期六-->
  <!--产品设置-->
  <add key="Product_ISDept" value="1" />
  <!--是否启用产品部门（0不启用，1启用）-->
  <add key="Product_OneDept" value="0" />
  <!--产品部门是否只有一个（0多个，1一个）-->

  <!--级别设置-->
  <!--升级方式：0自动升级，1手动升级-->
  <add key="Grade_Mode" value="1" />
  <!--自动升级周期（月）：上次升级到当前日期大于等于3个月自动升一级-->
  <add key="Grade_Month" value="3" />
  <!--自动升级日期：每个月的10号自动检测并升级-->
  <add key="Grade_Day" value="10" />
  <!--普通员工级别编号截止到-->
  <add key="Grade_Employee" value="14" />

  <!--级别设置end-->

  <!--常用部门设置-->
  <!--人力资源部ID-->
  <add key="Dept_HR" value="801" />
  <!--综合管理中心ID-->
  <add key="Dept_CA" value="803" />
  <!--行政部ID-->
  <add key="Dept_Admin" value="200" />
  <!--财务部ID-->
  <add key="Dept_FD" value="600" />
  <!--总经理办公室ID-->
  <add key="Dept_Boss" value="110" />
  <!--部门设置end-->

  <!--授权码-->
  <!--<add key="AuthCode" value="d622fe9846287541c899b6a2ac388f32f7ae08d2a6064f489089b8e04a299100342ab5ff58e83d6e-10"/>-->
  <add key="AuthCode" value="04d44060c4906cb58ee3bbec41f97da1714989746fdfae2a85d4c192232c5fafa67c7a80a696ab21-2"/>
  <add key="SalesCode" value="ad0af5c0-a911-47e2-a3a8-3e9b456c1301"/>
</appSettings>